body {
  background-image: url('image/Gelbwangenkakadu_8559.jpg');
}


#customers th {
  background-color: chartreuse;
  padding: 2px;

  font-family: serif;

}

#wugs {
  background-color: yellow;
  display: inline;

}

#wugs tr {
  background-color: blueviolet;
  border: 2px solid white;
}

#customers tr {
  font-family: cursive;
  color: #f2f2f2;
  padding: 2px;
  border: 2px solid blue;
  background-color: black;
}

#customers tr:nth-child(odd) {
  background-color: #f2f2f2;
  color: black;
}

#customers tr:hover {
  background-color: rgb(239, 184, 112);
}

#customers th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  height: 20px;
  background-color: aqua;

}

p {
  color: yellow;

}

.ex-1 {
  display: block;
  color: blue;
}

div {
  color: rgb(250, 248, 248);

}

.ab1 {
  border: 3px solid rgb(230, 240, 230);
  max-width: 300px;
  margin: auto;
  margin-bottom: 3px;
}

.bc2 {
  border: 3px solid rgb(241, 250, 241);
  margin-bottom: 3px;
  margin: auto;
  max-width: 500px;
}

.cd1 {
  border: 3px solid white;
  max-width: 600px;
  margin: auto;
  margin-top: 3px;

}

img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  height: 200px;
  width: 200px;
}