html,
body {
    margin: 0px;
    padding: 0px;
}

html {
    align-items: center;
    font-size: 10px;
    background-color: #ebe1e1;
}

body {
    width: 100%;
    margin: 0 auto;
}

header {
    margin: 20px;
    margin-top: 10px;
}

h2 {
    font-size: x-large;
}

nav {
    height: 70px;
    background-color: #0d0d0c;
    display: flex;
    margin-bottom: 7px;
    z-index: -1;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav ul li a:hover {
    color: rgb(243, 233, 233);
    border-radius: 6px;
    border: 2px solid rgb(242, 234, 234);
}

nav a {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
    color: rgb(243, 224, 224);
}

nav form {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
}

input {
    font-size: 1.6rem;
    height: 32px;
}

input[type="search"] {
    flex: 3;
}

input[type="submit"] {
    flex: 1;
    margin-left: 1rem;
    background: #333;
    border: 0;
    color: white;
}

.com {
    text-align: center;
    font-size: larger;
}

article {
    flex: 2;
    background-color: #04AA6D;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

li {
    scroll-behavior: smooth;
}

aside {
    /* flex: 1; */
    margin-left: 10px;
    background-color: #0a090a;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 247, 247);
    padding: 16px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    /* background-color: red;
     */
    border: 2px solid white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

main {
    display: flex;
}

.card {
    background-color: white;
    padding: 30px;
    margin-top: 20px;

}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 10px;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
}


footer {
    background-color: white;
    padding: 1%;
}

.card1 img {
    justify-content: center;
}

 article img {
    height: 190px;
    width: 190px;
    display: inline;
    text-decoration: none;
}

.card img {
    margin-left: 43px;
}

label {
    color: #0f100f;
    border: 2px solid blck;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=text],
select,
textarea :hover {
    color: brown;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container1 {
    border-radius: 5px;
    background-color: #877171;
    padding: 20px;
    font-size: small;
    justify-content: center;
}

.container2 {
    margin-left: 20px;
    justify-content: center;
}

.container5 {
    width: 80%;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-top: 1px;
    /* margin-bottom: 10px; */
    transform: translate(-50%, -50%);
    margin-top: 2900px;
}

.container5 h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 120px;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container5 .services {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.container5 .services .card2 {
    width: 330px;
    text-align: center;
    background: #222;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.container5 .services .card2:hover {
    background: chocolate;
}

.container5 .services .card2 .content {
    transition: 0.3s;
}

.container5 .services .card2:hover .content {
    transform: scale(1.07);
}

.container5 .services .card2 .content .icon {
    padding: 5px 0;
    color: white;
}

.container5 .services .card2 .content .icon i {
    font-size: 40px;
}

.container5 .services .card2:hover .content .title {
    color: white;
}

.container5 .services .card2 .content .title {
    padding: 5px 0;
    font-size: 24px;
    font-weight: 500;
    color: chocolate;
    transition: 0.3s;
}
.snip1574 {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-left: 90px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  .snip1574 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .snip1574 img {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.7;
  }
  
  .snip1574 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 10% 12%;
  }
  h1{
    
   font-size: 20px;
    text-align: center;
  }
  .snip1574 figcaption:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 170px;
    opacity: 0.35;
    font-style: normal;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    left: 50%;
  }
  
  .snip1574 blockquote {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1.2em;
  }
  
  .snip1574 p {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
    color: #ccc;
  }
  footer {
    text-align: center;
    margin-top: 10px;
}

footer:hover {
    background-color: rgb(136, 131, 139);
}

.container8 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 1500px; */
  margin-block: 2rem;
  gap: 2rem;
}

/* img {
  max-width: 100%;
  display: block;
  object-fit: cover;
} */

.card8 {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}
.user__info{
   text-align: center;
   width:100px ;
}
.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
.gallery {
    margin: 10px 40px;
}

.gallery img {
    width: 200px;
    height: 50px;
    transition: 1s;
    padding: 5px;
}

.gallery img:hover {
    filter: drop-shadow(4px 4px 6px gray);
    transform: scale(1.1);
}
b{
    text-align: center;
}